:root {
    --primary-color: #1ebfc1;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.section__sub-title {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    text-transform: uppercase;
}

.section__title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.section__desc {
    margin-top: 18px;
    font-size: 1.8rem;
    line-height: 1.5;
    color: #767e7e;
}

a {
    text-decoration: none;
}

.btn {
    --height: 68px;

    display: inline-block;
    height: var(--height);
    color: #fff;
    min-width: 186px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 68px;
    text-align: center;
    border-radius: 14px;
    background: var(--primary-color);
}

/* Header */
.header {
    height: 100vh;
    padding-top: 52px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
}

.nav__link {
    padding: 6px 20px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #2f3a3b;
    transition: 0.25s;
}

.nav__link:hover,
.nav__link--active {
    text-shadow: 1px 0 0 currentColor;
}

.action {
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.action__signin {
    color: #494949;
}

.action__signup {
    --height: 48px;

    min-width: 108px;
    line-height: 48px;
    font-size: 16px;
    color: var(--primary-color);
    background-color: #fff;
    border: 1px solid #1ebfc1;
}
/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 79px;
}

.hero__content {
    width: 40%;
}

.hero__note {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}

.heading {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero__desc {
    margin-top: 46px;
    font-size: 1.8rem;
    line-height: 1.78;
    color: #9da6a5;
}

.hero__cta {
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin-top: 52px;
}

.watch {
    height: 62px;
    width: 62px;
    border: none;
    outline: none;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}

.hero__media {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    width: 54%;
    margin-left: 6%;
}

.hero__media-img {
    width: 567px;
    height: 631px;
    object-fit: cover;
}

.hero__courses-block {
    position: absolute;
    top: 149px;
    left: 25px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 18px 25px;
    background: #fefefd;
    border-radius: 18px;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
}

.courses__block-image {
    position: relative;
}

.courses__block-image::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 4px;
    background: #fff;
    bottom: 8px;
    left: 4px;
    display: block;
    border-radius: 999px;
}

.courses__block-img {
    display: block;
}

.hero__courses-title {
    width: 55px;
    margin-left: 16px;
    font-size: 1rem;
    line-height: 1.4;
    background: #fefefd;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 18px;
}

.hero__schedules-block {
    position: absolute;
    left: 0;
    bottom: 46px;
    text-align: center;
    padding: 16px 25px 23px;
    background: #ffffff;
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    border-radius: 24px;
}

.hero__schedules-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero__schedules-images {
    margin-top: 16px;
    text-align: center;
}

.hero__schedules-img {
    display: block;
    margin: 0 auto;
}

.hero__schedules-wrap + .hero__schedules-wrap {
    margin-top: 10px;
}

.hero__schedules-wrap {
    margin-top: 16px;
    text-align: center;
}

.hero__students-block {
    position: absolute;
    bottom: 41px;
    right: 45px;
    padding: 17px 35px;
    border-radius: 24px;
    background: #fefefd;
    box-shadow: 0px 12px 80px rgba(0, 0, 0, 0.05);
}

.hero__students-title {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}

.hero__students-image {
    margin-top: 8px;
    display: flex;
}

.hero__student-image,
.hero__student-quantity {
    width: 33px;
    height: 33px;
    margin-left: -7px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__student-image:first-child {
    margin-left: 0;
}

.hero__student-img {
    width: 100%;
}

.hero__student-quantity {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #ffffff;
    background: #1ebfc1;
}

/* Feature */
.feature {
    margin: 65px 0 0;
    padding: 65px 0;
}

.feature__title {
    width: 577px;
}

.feature__desc {
    width: 590px;
}

.feature__list {
    margin-top: 80px;
    display: flex;
    gap: 200px;
}

.feature__item-name {
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.feature__item-desc {
    margin-top: 16px;
    line-height: 1.69;
    color: #9da6a5;
}

/* Courses */
.courses {
    padding: 65px 0 189px;
}

.courses__list {
    margin-top: 79px;
    display: grid;
    column-gap: 47px;
    grid-template-columns: repeat(3, 1fr);
}

.courses__item {
    position: relative;
}

.courses__item:hover .courses__item-image {
    opacity: 1;
}

.courses__item-image {
    background: #d0efed;
    opacity: 0.35;
    border-radius: 8px;
    overflow: hidden;
}

.courses__item-img {
    width: 100%;
    height: 393px;
    object-fit: cover;
}

.courses__item-info {
    position: absolute;
    top: 322px;
    left: 17px;
    min-width: 325px;
    padding: 18px 25px 29px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
}

.courses__item-name {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}

.courses__item-price {
    margin-top: 16px;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
    display: inline-block;
}

.item__price-bold {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1.5;
    color: #0d1111;
    display: inline-block;
}

.courses__item-desc {
    margin-top: 6px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses__item-row {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
    margin-left: 10px;
}

.item__row-classes,
.item__row-time {
    position: relative;
}

.item__row-time {
    margin-left: 14px;
}

.item__row-classes::before,
.item__row-time::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    left: -10px;
    top: 7px;
    border-radius: 50%;
    background: #1ebfc1;
}
